* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  height: 960px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0.5px solid black;
}

.item {
  flex: auto;
  box-sizing: border-box;
  border: 0.2px solid black;
}
